body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: lightgray; 
}
.relicAttr {
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.relicAtt
{
  background-color: lavenderblush;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.relicsAttr
{
  background-color: burlywood;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.relicssAttr
{
  background-color: yellowgreen;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.card {
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
}

.btn {
  font-weight: bold;
  border-radius: 5px;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
